<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Content</h1>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="school-outline"></ion-icon>
      Study programme
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="calendar-outline"></ion-icon>
      Schedule
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="chatbox-outline"></ion-icon>
       Messages
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="person-outline"></ion-icon>
      Profil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
