<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">REGISTER</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size-sm="6" class="ion-text-center">
      <ion-img src="assets/prenotmi-logo.png" class="logo-img"></ion-img>
    </ion-col>
  </ion-row>
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" ngModel name="name" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Surname</ion-label>
            <ion-input type="text" ngModel name="surname" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" ngModel name="email" required email #email="ngModel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item lines="none" *ngIf="email.invalid && email.touched">
        <ion-label>Should be a valid email address.</ion-label>
      </ion-item>


      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel name="password" required minlength="7" #password="ngModel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-label>Should be minimum 7 characters.</ion-label>
      </ion-item>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="address" ngModel name="address" #address="ngModel"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="submit" color="primary" shape="round" expand="block" [disabled]="registerForm.invalid">Register</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </form>

  <ion-item lines="none" class="ion-text-center">
    <ion-label>
      You already have an account?
      <a [routerLink]="['/log-in']">Log in</a>
    </ion-label>
  </ion-item>

</ion-content>
