.logo-img {
  width: 250px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px; /* Add space below the image */
}

.ion-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
