<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button menu="reserveMenu"></ion-menu-button>-->
      <ion-buttons slot="start">
        <!-- Add the back button here -->
        <ion-back-button defaultHref="/tabs/my-appointments"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Reserve Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="reserveContent">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserve</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit()" #reserveForm="ngForm">
    <ion-list>
      <!-- Select Visa Type -->
      <ion-item>
        <ion-label>Visa Type</ion-label>
        <ion-select [(ngModel)]="visaType" name="visaType" required>
          <ion-select-option value="student">Student Visa</ion-select-option>
          <ion-select-option value="work">Work Visa</ion-select-option>
          <ion-select-option value="tourist">Tourist Visa</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Input for Name -->
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>

      <!-- Input for Email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required email></ion-input>
      </ion-item>

      <!-- Input for Appointment Date -->
      <ion-item class="ion-margin">
        <ion-label position="stacked">Appointment Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="appointmentDate" name="appointmentDate"
                      required></ion-datetime>
      </ion-item>
    </ion-list>

    <!-- Submit Button -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!reserveForm.form.valid">Reserve</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
