<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button menu="reserveMenu"></ion-menu-button>-->
      <ion-buttons slot="start">
        <!-- Add the back button here -->
        <ion-back-button defaultHref="/tabs/my-appointments"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Reserve Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="reserveContent">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserve</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit(visaType)" #reserveForm="ngForm">
    <ion-list>
      <!-- Select Visa Type -->
      <ion-item>
        <ion-label>Visa Type</ion-label>
        <ion-select [(ngModel)]="visaType" name="visaType" required>
          <ion-select-option value="student">Student Visa</ion-select-option>
          <ion-select-option value="work">Work Visa</ion-select-option>
          <ion-select-option value="tourist">Tourist Visa</ion-select-option>
        </ion-select>
      </ion-item>

    <!--  &lt;!&ndash; Input for Name &ndash;&gt;
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>

      &lt;!&ndash; Input for Email &ndash;&gt;
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required email></ion-input>
      </ion-item>-->


    </ion-list>


    <ion-item class="ion-margin">
      <ion-label position="stacked">Appointment Date</ion-label>
      <ion-datetime presentation="date" displayFormat="MM/DD/YYYY" [(ngModel)]="appointmentDate" (ionChange)="onDateChange()" name="appointmentDate" required></ion-datetime>
    </ion-item>

<!--    <ion-item>-->
<!--      <ion-label>Date and Time</ion-label>-->
<!--      <ion-select [(ngModel)]="selectedTimeSlot" name="timeSlot" required>-->
<!--        <ion-select-option *ngFor="let slot of timeSlots" [value]="slot">-->
<!--          {{ slot.date }}: {{ slot.startTime }} - {{ slot.endTime }}-->
<!--        </ion-select-option>-->
<!--      </ion-select>-->
<!--    </ion-item>-->

    <ion-item>

        <!-- Grid kontejner -->
        <ion-grid>
          <!-- Ponavljanje ion-row tri puta za tri reda -->
          <ion-row *ngFor="let row of [0, 1, 2]">
            <!-- Ponavljanje ion-col tri puta za tri kolone po redu -->
            <ion-col size="4" *ngFor="let col of [0, 1, 2]">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    Naslov Kartice {{ row * 3 + col + 1 }}
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Sadržaj Kartice {{ row * 3 + col + 1 }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!reserveForm.form.valid">Reserve</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
