<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="firstMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reserve appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content1">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reserve</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" contentId="content1" menuId="firstMenu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Italian embassy</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">

        <ion-menu-toggle>
          <ion-item routerLink="/tabs/reserve">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>Reserve</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/my-appointments">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>My booked appointments</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

</ion-content>
