<ion-app>

  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Italian embassy</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="person-circle" slot="start"></ion-icon>
          <ion-label>My profile</ion-label>
        </ion-item>
        <ion-menu-toggle>
          <ion-item routerLink="/reserve">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>Reserve</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/my-appointments">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>My booked appointments</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item>
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Log out</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
